@import "tailwindcss";

@theme {
  --color-primary: #003a5c;
  --color-accent: #00bcd4;
  --color-accent-light: #e0f7fa;
  --color-background-light: #ffffff;
  --color-background-dark: #0f1c23;
  
  --font-display: "Lexend", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 antialiased font-display;
  }
}

/* Tu Scrollbar Personalizado */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #94a3b8; }